
.section .content {
  max-width: 700px;
}

.home {
  display: none;
}

.bar .content {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "Proxima Nova";
}

.bar .content.home-bar {
  display: none;
}

.main .content {
  min-height: 650px;
}

.main .main-content {
  margin-left: 150px;
}
