
.header ul li.social {
  display: block;
}

.header ul li.home-link {
  display: none;
}

.menu {
  display: none;
}

.bar .content.breadcrumbs {
  display: none;
}

.twitter-share-button {
  right: 20px;
}
